<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3darAutofocusPoi</key>
	<false/>
	<key>3darOverridePoiAltitude</key>
	<true/>
	<key>3darLookMode</key>
	<string>free</string>
	<key>3darLocationUpdateIntervalSec</key>
	<integer>10</integer>
	<key>3darEnableMap</key>
	<true/>
	<key>3darHeadless</key>
	<false/>
	<key>3darFrameWidth</key>
	<integer>320</integer>
	<key>3darFrameHeight</key>
	<integer>411</integer>
</dict>
</plist>
